.mainDiv {
  width: 252px;
  height: 903px;
  flex-shrink: 0;
  border-radius: 0px 20px 20px 20px;
  background: #fff;
  box-shadow: 0px 17px 40px 4px rgba(112, 144, 176, 0.11);
}

.menuText {
  display: flex;
  width: 95px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  color: #146574;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.divLogo {
  width: 251px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #146574;
}

.logo {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  line-height: 18px; /* 100% */
  margin-top: 34;
}
