.navbar {
  border-bottom: 1.2px solid #a6a3a3;
  background: #fff;
}

.gni {
  margin-top: 1rem;
}

.menu {
  color: #146574;
}

.navOptions {
  margin: 33px;
  color: #146574;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Text single/200/Regular */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 100% */
}

.design {
  margin-left: 33px;
  color: #146574;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Text single/200/Regular */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 100% */
}

.arrow {
  width: 11.667px;
  height: 5.833px;
  stroke-width: 1.4px;
  color: #146574;
  margin-right: 33px;
}

.getStartedBtn {
  display: flex;
  padding: 18px 24px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #146574;
  text-transform: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.getStartedBtn:hover {
  background: gray;
}

.avatar {
  margin-left: 27px;
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  filter: grayscale(1);
}

.css-1pqm26d-MuiAvatar-img {
  filter: grayscale(1);
}
