.sliderContainer {
  width: 75%;
  margin: auto;
}

.projectContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 263px;
  height: 365px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--neutral-colors-color-300, #f9f9ff);
}

.arrow {
  position: absolute;
  top: 50%;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.projectName {
  color: #4e514e;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Text single/300/Bold */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 100% */
}
